node_modules
npm-debug.log
.env
.env.local
.env.production
.env.localstack
.git
.gitignore
README.md
logs
tests
build
coverage
dist
postman
localstack
docker/localstack/lambda/**/__pycache__
.DS_Store
.dockerignore
Dockerfile
.docker
.vscode
.idea
